page-login {
    .spinner svg {
        width: 28px;
        height: 28px;
        stroke: #444;
        fill: #444;
      }
    //   .bg-primary2 {
    //     background-image: url("../assets/img/02.jpg") ;
      
    //  background-size: 100% 100%; 
       
    //    }
}
